<div class="container mx-auto p-6 bg-white rounded-lg max-w-lg">
  <div class="mb-4">
    <input
    type="text"
    class="w-full p-2 border border-gray-300 rounded"
    placeholder="Search product"
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchProduct($event)"
    />
  </div>
</div>
<div *ngIf="notFoundMessage" class="mt-4 p-2 bg-green-100 text-green-800 rounded text-center">
  {{ notFoundMessage }}
</div>
<app-products-card [cards]="cards" [isLoading]="isLoading" [notFoundMessage]="notFoundMessage"></app-products-card>
